{% extends 'base-front.html.twig' %}

{% block body %}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from powerzone.dexignzone.com/xhtml/events.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Mar 2024 22:02:42 GMT -->
<head>
    
    <!-- Title -->
    <title>PowerZone - Fitness, Workout & Gym HTML Template</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DexignZone">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="bodybuilding, class, clean, coach, fitness, fitness gym, gym, gym trainer, health, martial arts, personal trainer, sport, sports theme, training, workout, Fitness template, Workout design, Health and wellness, Exercise layout, Fitness app, Gym website, UI components, UX components, Workout routines, Health template, UIUX, creative, HTML, CSS, Sass Integration, HTML Template, Bootstrap, Bootstrap Template, Gym UI Kit, websiite, Website template, Fitness Website Design, Exercise App Design, Gym Interface, Exercise Dashboard, Gym Homepage Template, HTML Gym Template, Responsive Gym Design, responsive, HTML Fitness Components, Workout Program Template, Fitness Studio HTML, Responsive Workout Design, Landing Page Kit, HTML5, HTML/CSS">
    <meta name="description" content="Embark on a transformative fitness journey with the PowerZone HTML Template. Elevate your workouts and gym routines with this dynamic and versatile template designed to unleash the power of sleek aesthetics and intuitive features. Discover a world of possibilities for fitness and wellness, as PowerZone becomes your gateway to a healthier, stronger version of yourself">
    <meta property="og:title" content="PowerZone - Fitness, Workout & Gym HTML Template | DexignZone">
    <meta property="og:description" content="Embark on a transformative fitness journey with the PowerZone HTML Template. Elevate your workouts and gym routines with this dynamic and versatile template designed to unleash the power of sleek aesthetics and intuitive features. Discover a world of possibilities for fitness and wellness, as PowerZone becomes your gateway to a healthier, stronger version of yourself">
    <meta property="og:image" content="social-image.png">
    <meta name="format-detection" content="telephone=no">
    <meta name="twitter:title" content="PowerZone - Fitness, Workout & Gym HTML Template | DexignZone">
    <meta name="twitter:description" content="Embark on a transformative fitness journey with the PowerZone HTML Template. Elevate your workouts and gym routines with this dynamic and versatile template designed to unleash the power of sleek aesthetics and intuitive features. Discover a world of possibilities for fitness and wellness, as PowerZone becomes your gateway to a healthier, stronger version of yourself">
    <meta name="twitter:image" content="social-image.png">
    <meta name="twitter:card" content="summary_large_image">
    
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{{asset('front-office/images/favicon.png')}}">
    
    <link href="{{asset('front-office/vendor/rangeslider/rangeslider.css')}}" rel="stylesheet">
    <link href="{{asset('front-office/vendor/switcher/switcher.css')}}" rel="stylesheet">
    <link href="{{asset('front-office/vendor/animate/animate.css')}}" rel="stylesheet">
    
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{{asset('front-office/css/style.css')}}">
    <link class="skin" rel="stylesheet" href="{{asset('front-office/css/skin/skin-1.css')}}">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    
    <!-- Meta -->
		<link class="skin" rel="stylesheet" href="{{asset('front-office/css/skin/skin-1.css')}}">

    
</head>
<body id="bg" class="data-typography-1">

<div class="page-wraper">

    
    
    <div class="page-content bg-white">
        
        
        
        <!-- Our Events -->
        <section class="content-inner">
            <div class="container">
<div class="row">
  {% for evenement in evenements %}
    <div class="col-md-4">
      <div class="card card-plain card-blog mt-4">
        <div class="card-image border-radius-lg position-relative ">
        
            <div class="blur-shadow-image overlay-shine wow fadeInUp ">
												<div class="dz-media">

            <img class="img border-radius-lg move-on-hover" src="data:image/jpeg;base64,{{ evenement.image }}" style="width: 100%; height: 200px; object-fit: cover;">
            </div>
			</div>
			
          </div>
		 
        <div class="card-body px-0">
          <h5>
            <a href="javascript:;" class="text-dark font-weight-bold">{{ evenement.nomEvenement }}</a>
          </h5>
          <p>
          <i class="flaticon-calendar-1"></i>  Date: {{ evenement.date|date('Y-m-d') }}<br>
           <i class="far fa-clock"></i>
 Time: {{ evenement.time|date('H:i:s') }}
          </p>
          <a href="{{ path('voir_evenements', {'id': evenement.getId()}) }}" class="text-info icon-move-right">Read More
            <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

 
</div></section></div></div>
 

 

</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{{asset('front-office/js/jquery.min.js')}}"></script><!-- JQUERY.MIN JS -->
<script src="{{asset('front-office/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{{asset('front-office/vendor/wow/wow.js')}}"></script><!-- WOW.JS -->
<script src="{{asset('front-office/js/dz.carousel.js')}}"></script><!-- OWL-CAROUSEL -->
<script src="{{asset('front-office/js/dz.ajax.js')}}"></script><!-- AJAX -->
<script src="{{asset('front-office/js/custom.js')}}"></script><!-- CUSTOM JS -->
<script src="{{asset('front-office/vendor/rangeslider/rangeslider.js')}}"></script><!-- RANGESLIDER -->
<script src="{{asset('front-office/vendor/switcher/switcher.js')}}"></script><!-- SWITCHER -->
</body>

<!-- Mirrored from powerzone.dexignzone.com/xhtml/events.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Mar 2024 22:02:44 GMT -->
</html>

{% endblock %}