{% extends 'base-back.html.twig' %}

{% block body %}

<!doctype html>
<html lang="en">
 
    
<!-- Mirrored from themesdesign.in/minible-symfony/layouts/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2024 10:47:37 GMT -->
<head>
        
        <meta charset="utf-8" />
        <title>Login | Minible - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{asset('back-office/images/favicon.ico')}}">
        <!-- bootstrap datepicker -->

        <link href="{{asset('back-office/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css')}}" rel="stylesheet">
 <!-- DataTables -->
        <link href="{{asset('back-office/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css')}}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{{asset('back-office/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css')}}" rel="stylesheet" type="text/css" /> 


        <!-- Bootstrap Css -->
        <link href="{{asset('back-office/css/bootstrap.min.css')}}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{asset('back-office/css/icons.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{asset('back-office/css/app.min.css')}}" id="app-style" rel="stylesheet" type="text/css" />
    </head>
  
   <body>

    <!-- <body data-layout="horizontal" data-topbar="colored"> -->

        <!-- Begin page -->
        

                <div class="page-content ">
                    <div class="container-fluid ">

                        <!-- start page title -->
                        <div class="row ">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">Liste des evenement</h4>

                                    

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                 <form method="get" action="{{ path('ajouter_evenement' )}}">

                                    <button type="submit"   class="btn btn-success waves-effect waves-light mb-3">Ajouter Evenement</button>
                                                     </form>

                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="float-end">
                                    <div class=" mb-3">
                                        <div class="input-daterange input-group" id="datepicker6" data-date-format="dd M, yyyy" data-date-autoclose="true" data-provide="datepicker" data-date-container='#datepicker6'>
                                            <input type="text" class="form-control text-start" placeholder="From" name="From" id="From" />
                                            <input type="text" class="form-control text-start" placeholder="To" name="To" id="To" />
                                            
                                            <button type="button" class="btn btn-primary" id="btn-filter">Filtrer</button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                
                                <div class="table-responsive mb-4">
                                    <table class="table table-centered datatable dt-responsive nowrap table-card-list" style="border-collapse: collapse; border-spacing: 0 12px; width: 100%;">
                                        <thead>
                                            <tr class="bg-transparent">
                                              
                                                <th>ID</th>
                                                <th>Nom de l'evenement</th>
                                                 <th>Catégorie</th>
                                                <th>Objectif</th>
                                                <th>Nombre de place</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>État</th>
                                                <th>Utilisateur</th>
                                                <th style="width: 120px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="event-table-body">
            {% for e in evenements %}

                                            <tr>
                                                <td>
                                                    <div class="form-check text-center font-size-16">
                                                      {{ e.id }}
                                                    </div>
                                                </td>
                                                
                                                <td>{{ e.nomEvenement}}</td>
                                                <td>
                                                  {{ e.categorie }}
                                                </td>
                                                <td>{{ e.Objectif }}</td>
                                                
                                                <td>
                                                  {{ e.nbrPlace }}
                                                </td>
                                                <td>
                                                    <div class="badge bg-soft-success font-size-12">{{ e.Date|date('Y-m-d')}}</div>
                                                </td>
                                                <td>
                                                    <div class="badge bg-soft-success font-size-12">{{ e.Time|date('H:i:s') }}</div>
                                                </td>
                                                 <td>
                                                  {{ e.etat ? 'Actif' : 'Inactif' }}
                                                </td>
                                                  <td>
                                                  {{ e.user.username }}
                                                </td>
                                                
                                               
  


         <td>
    <div class="d-flex align-items-center">

            <!-- Icône de modification -->
            <a href="{{ path('Evenement_modifier', {'id': e.id}) }}" class="px-3 text-primary"><i class="fas fa-pen"></i></a>
       
            <!-- Icône de suppression -->
            <form id="form-delete-{{ e.id }}" method="post" action="{{ path('Evenement_supprimer', {'id': e.id}) }}" >
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ e.id) }}">
                <button type="submit" class="btn btn-link text-danger btn-supprimer" ><i class="fas fa-trash"></i></button>
            </form>
            </div>
        </td>
                                            </tr>
                                            
                                                      {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

               
         
    

        <!-- JAVASCRIPT -->
        <script src="{{asset('back-office/libs/jquery/jquery.min.js')}}"></script>
        <script src="{{asset('back-office/libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('back-office/libs/metismenu/metisMenu.min.js')}}"></script>
        <script src="{{asset('back-office/libs/simplebar/simplebar.min.js')}}"></script>
        <script src="{{asset('back-office/libs/node-waves/waves.min.js')}}"></script>
        <script src="{{asset('back-office/libs/waypoints/lib/jquery.waypoints.min.js')}}"></script>
        <script src="{{asset('back-office/libs/jquery.counterup/jquery.counterup.min.js')}}"></script>


        <!-- bootstrap datepicker -->
        <script src="{{asset('back-office/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>

        <!-- Required datatable js -->
        <script src="{{asset('back-office/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('back-office/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
        
        <!-- Responsive examples -->
        <script src="{{asset('back-office/libs/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
        <script src="{{asset('back-office/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js')}}"></script>

        <!-- init js -->

        <!-- App js -->
        <script src="{{asset('back-office/js/app.js')}}"></script>

            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <script>
   $(document).ready(function() {
    // Écoutez le clic sur le bouton "Filtrer"
    $('#btn-filter').click(function() {
        // Récupérez les valeurs des champs de date
        var fromDate = $('#From').val();
        var toDate = $('#To').val();

        // Envoie d'une requête AJAX au serveur pour récupérer les événements filtrés
        $.ajax({
            url: "{{ path('filtrer_evenements') }}",
            method: 'GET',
            data: {
                From: fromDate,
                To: toDate
            },
            success: function(response) {
                // Mettre à jour la liste des événements dans le tableau HTML avec les données filtrées
                $('#event-table-body').html(response);
            },
            error: function(xhr, status, error) {
                // Gérer les erreurs éventuelles
                console.error(error);
            }
        });
    });
});

    </script>
            <script>


$(document).ready(function() {
    $('.btn-supprimer').click(function(e) {
        e.preventDefault();
        var id = $(this).closest('form').attr('id').replace('form-delete-', '');
        var url = $('#form-delete-' + id).attr('action');
        Swal.fire({
            title: 'Êtes-vous sûr ?',
            text: "Vous ne pourrez pas revenir en arrière !",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Oui, supprimer !'
        }).then((result) => {
            if (result.isConfirmed) {
                // Soumettre le formulaire si l'utilisateur confirme
                $('#form-delete-' + id).submit();
            } else {
                // Afficher un message d'erreur si l'utilisateur annule la suppression
                Swal.fire({
                    title: 'Annulé',
                    text: 'La suppression a été annulée.',
                    icon: 'error',
                    showConfirmButton: false,
                    timer: 1500,
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    }
                });
            }
        });
    });

    // Écouter l'événement de soumission du formulaire de suppression
    $('form[id^="form-delete-"]').submit(function(e) {
        e.preventDefault(); // Empêcher la soumission du formulaire par défaut

        var form = $(this);

        // Récupérer l'ID du formulaire
        var id = form.attr('id').replace('form-delete-', '');

        // Envoyer une requête AJAX pour supprimer l'élément
        $.ajax({
            url: form.attr('action'), // Récupérer l'URL d'action du formulaire
            method: 'POST',
            data: form.serialize(), // Sérialiser les données du formulaire
            success: function(response) {
                // Si la suppression réussit, afficher un message de succès avec animation
                Swal.fire({
                    title: 'Supprimé !',
                    text: 'Evenement a été supprimé.',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1500,
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    }
                }).then(() => {
                    // Recharger la page après l'animation
                    location.reload();
                });
            },
            error: function(xhr, status, error) {
                // Si une erreur se produit lors de la suppression, afficher un message d'erreur
                Swal.fire({
                    title: 'Erreur !',
                    text: 'Une erreur s\'est produite lors de la suppression.',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
            }
        });
    });
});

</script>


    </body>

</html>
{% endblock %}