{# templates/offre/creer.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle offre{% endblock %}

{% block body %}
    <h1>Créer une nouvelle offre</h1>
    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.specialite) }}
    {{ form_row(form.tarif_heure) }}
    {{ form_row(form.etat_offre) }}
    {{ form_row(form.email) }}
    {{ form_row(form.coach) }}
    <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}

    {# Ajout du bouton "Consulter les offres" #}
    <a href="{{ path('app_consulter_offres') }}" class="btn btn-secondary">Consulter les offres</a>
    
{% endblock %}
