{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ajouter un cours</h5>
                    <form action="{{ path('produit_ajouter') }}" method="post" enctype="multipart/form-data">
                        {{ form_start(form, {'method': 'POST'}) }}
                        {{ form_row(form._token) }} {# Ajout du jeton CSRF #}
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom du produit</label>
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            <label for="Description" class="form-label">Description</label>
                            {{ form_widget(form.Description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            <label for="Prix" class="form-label">Prix</label>
                            {{ form_widget(form.Prix, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            <label for="Type" class="form-label">Type</label>
                            {{ form_widget(form.Type, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            <label for="quantite" class="form-label">quantite</label>
                            {{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            <label for="quantite_Vendues" class="form-label">quantite Vendues</label>
                            {{ form_widget(form.quantite_Vendues, {'attr': {'class': 'form-control'}}) }}
                        </div>
                      
                        <div class="mb-3">
                            <label for="imageFile" class="form-label">Image</label>
                            {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                       
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}