{% extends 'base.html.twig' %}

{% block title %}Liste des Cours{% endblock %}

{% block stylesheets %}
    <style>
        .table-separator td {
            border-right: 1px solid #ccc; /* Bordure droite */
            padding: 8px; /* Espacement */
        }
        .table-separator th {
            border-right: 1px solid #ccc; /* Bordure droite */
            padding: 8px; /* Espacement */
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Liste des Cours</h1>
    <table class="table-separator">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom du Cours</th>
                <th>Durée</th>
                <th>Intensité</th>
                <th>Cible</th>
                <th>Catégorie</th>
                <th>Objectif</th>
                <th>État</th>
                <th>Capacité</th>
                <th>Utilisateur</th>
                <th>Image</th>
                <th>Actions</th> <!-- Ajout de la colonne pour les actions -->
            </tr>
        </thead>
        <tbody>
            {% for cour in cours %}
                <tr>
                    <td>{{ cour.id }}</td>
                    <td>{{ cour.nomCour }}</td>
                    <td>{{ cour.Duree }}</td>
                    <td>{{ cour.Intensite }}</td>
                    <td>{{ cour.Cible }}</td>
                    <td>{{ cour.Categorie }}</td>
                    <td>{{ cour.Objectif }}</td>
                    <td>{{ cour.etat ? 'Actif' : 'Inactif' }}</td>
                    <td>{{ cour.capacite }}</td>
                    <td>{{ cour.user.username }}</td>
                    <td><img src="data:image/jpeg;base64,{{ cour.image }}" alt="Image du cours" style="max-width: 100px;"></td>
                    <td>
                        <form method="post" action="{{ path('cour_supprimer', {'id': cour.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce cours ?')">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cour.id) }}">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" action="{{ path('cour_modifier', {'id': cour.id}) }}">
                            <button type="submit">Modifier</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
